{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

<h1>Customers</h1>
<input type="text" id="myInput" onkeyup="searchCustomers()" placeholder="Search for names..">
<ul id="myUL" style="column-count: 4">
  {% for customer in customers %}
  <li><a href="/{{ customer.id }}/">{{ customer.fullname }}</a></li>
  {% endfor %}
</ul>
<script>
  function searchCustomers() {
    let input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
  
    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
  
</script>
{% endblock %}